.g3p-canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.g3p-canvas-root {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
  background: #fafafa;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}