.g3p-marker {
  fill: var(--g3p-edge-color);
  stroke: none;
}

.g3p-marker-bar {
  fill: none;
  stroke: var(--g3p-edge-color);
  stroke-width: 2;
}

.g3p-marker.hovered {
  fill: var(--g3p-text-muted);
}

.g3p-marker.selected {
  fill: var(--g3p-border-selected);
}

.g3p-marker-bar.hovered {
  stroke: var(--g3p-text-muted);
}

.g3p-marker-bar.selected {
  stroke: var(--g3p-border-selected);
}