.g3p-marker {
  fill: #64748b;
  stroke: none;
}

.g3p-marker-bar {
  fill: none;
  stroke: #64748b;
  stroke-width: 2;
}

.g3p-marker.hovered {
  fill: #475569;
}

.g3p-marker.selected {
  fill: #3b82f6;
}

.g3p-marker-bar.hovered {
  stroke: #475569;
}

.g3p-marker-bar.selected {
  stroke: #3b82f6;
}